<section class="card">
    <div class="card-body">
        
    
     <main role="main" class="container bg-dark">

        <div width=100% align=left>
            <div class="history">
                <a href="/" class="history">&nbsp;Inicio&nbsp;</a>
                <a href="#" class="history"><i class="fa fa-angle-double-left"></i></a>
                <a href="/" class="history">&nbsp;504Venir&nbsp;</a>
                <a href="#" class="history"><i class="fa fa-angle-double-left"></i></a>
            </div>
        </div>


        <div class="jumbotron">
            <h1 class="display-4">Bienvenidos</h1>
            <p class="lead">504Venir comenzó en 2020 y nos esforzamos para brindar la mejor experiencia
                de compra en línea posible. Nuestra misión es proporcionar un lugar feliz y seguro para que nuestros
                clientes compren y experimenten la cultura de todo Hondureña. Hacemos todo lo posible para ofrecer los
                precios más bajos como muestra de nuestro agradecimiento a todos y cada uno de nuestros clientes.</p>
            <hr class="my-4">
            <p>Muchos de nuestros artículos se importan y envían desde cada ciudad de honduras. Estamos más que felices
                de ayudar con la planificación de eventos privados y corporativos, y creemos que cada evento merece su
                propia personalidad y estilo. ¡Las fiestas temáticas son nuestras especialidades!.</p>
           
        </div>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <img  class="rounded mx-auto d-block" alt="Responsive image" src="img/logoAzul.png"></img>
                
                <p class="lead">Deseamos brindarle la flexibilidad de compra que necesita en un entorno amigable, feliz
                    y eficiente. Puede contar con nuestro equipo para ofrecerle las mejores opciones de productos a
                    precios competitivos. Recibimos nuevos productos con frecuencia y estamos emocionados de compartir
                    estos artículos con usted. ¡Esperamos sinceramente que disfrute comprando con nosotros!.</p>
            </div>
        </div>

    </main>

</section>


