<section class="card">
    <div class="card-body">
        <h1>Souvenir504</h1><br>
        <p><b>Misión</b><br>
        Ofrecer a nuestros clientes un mercado electrónico accesible donde
        cualquier persona pueda comercializar sus productos a nivel nacional e
        internacional bajo los parámetros de seguridad, responsabilidad y eficacia.<br><br>
        <b>Misión</b><br>
        Nuestra visión es ser la mejor empresa de comercialización de souvenirs,
        buscando un liderazgo con una gran capacidad de oferta y una gama amplia
        de productos de alta calidad a un mercado objetivo, promoviendo el
        desarrollo social de la comunidad y de la ciudad y manteniendo la rentabilidad del negocio.</p>

        <a href="">
        <img class="img-fluid" alt="Responsive image" src="/img/Letras negras.png">
    </a>

    </div>

</section>


