<div class="container mt-3">
    <main role="main">
        <div class="row">
            <div class="col">
                <div class="table-responsive-sm">
                    <table class="table">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Productos</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">precio</th>
                        </tr>
                    </table>
                    <tbody id="table">

                    </tbody>
                </div>
            </div>
        </div>
        <hr class="featurette-divider">
    </main>
</div>

<script src="/js/cart.js"></script>