<div class="alert alert-info" role="alert">
<h4 class="alert-heading">Bienvenidos a Omoa!</h4>
<a href="">
    <img class="img-fluid" alt="Responsive image" src="/img/city/omoa.png">
</a>
<p>Omoa es una pequeña ciudad de playa ubicada en Honduras. Es famosa por sus relucientes playas que se extienden a lo largo del mar Caribe. Recuéstate en la arena blanca, y contempla los kilómetros y kilómetros de aguas azules frente a ti. Presta atención a las escuelas de delfines que suelen visitar el puerto.</p>
<hr>
<p class="mb-0">Omoa está ubicada a 70 kilómetros (43.5 millas) al norte de San Pedro Sula, la segunda ciudad más grande de Honduras, y tiene un gran aeropuerto con vuelos a varios destinos internacionales.</p>
</div>

<p>
<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
    aria-controls="collapseExample">
    Conoce un poco más
</a>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
    aria-expanded="false" aria-controls="collapseExample">
    ¿Sabías Qué?
</button>
</p>

<div class="collapse" id="collapseExample">
<div class="card card-body">
   Explora las imponentes ruinas de piedra del Castillo de San Fernando. Construido por los españoles en la última etapa del siglo XVIII, la fortaleza fue diseñada para proteger a la ciudad de los ataques piratas y las invasiones extranjeras. Más adelante, la fortaleza fue utilizada como prisión. Hoy día, puedes explorar el sitio y obtener más información al respecto en el museo ubicado junto a la fortaleza.

</div>
</div>


<main>
<div class="container-fluid ">
        <div class="row" id="productosOmoa">
            
        </div>
    </div> 
</main>
