<div class="alert alert-info" role="alert">
 </h1></h1>
<h4 class="alert-heading">Bienvenidos a Comayagua</h4>
<a href="">
    <img class="img-fluid" alt="Responsive image" src="/img/city/comayagua.jpg">
</a>
<p>Situada en un extenso valle del mismo nombre, Comayagua se encuentra en el corazón del continente americano y en el centro del país. Fue fundada como Villa el 8 de diciembre de 1537 por el Capitán Alonzo de Cáceres, en nombre del Rey de España Carlos I. En 1543 el Rey Felipe II, mandó que la Audiencia de los Confines residiera en la Villa de la Concepción de Comayagua, lo cual le dio el nombre de Nueva Valladolid de Comayagua. Como tal, fue la capital de la Provincia de Honduras durante la colonia.
</p>
<hr>
<p class="mb-0"> El Museo Regional de Comayagua plasma en sus diferentes salas la ocupación humana en el valle, desde el arte rupestre, presente en La Cueva Pintada, hasta el desarrollo cultural en la época prehispánica y luego la época histórica colonial, por haber sido la primera Capital de Honduras. En su Museo de Arte Religioso se muestra la importancia de la iglesia en la rica colección de arte colonial religioso que contempla esculturas, vestiduras bordadas en hilos de oro, copones custodias de oro con incrustaciones de esmeraldas y múltiples joyas de los santos.</p>
</div>

<p>
<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
    aria-controls="collapseExample">
    Conoce un poco más
</a>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
    aria-expanded="false" aria-controls="collapseExample">
    ¿Sabías Qué?
</button>
</p>

<div class="collapse" id="collapseExample">
<div class="card card-body">
   La feria patronal de Comayagua se realiza en honor a la Virgen de la Inmaculada Concepción. Por su abolengo colonial, las tradiciones de la Iglesia Católica son practicadas con gran fervor, siendo las alfombras uno de los espectáculos artísticos de mayor tradición en Honduras. Las alfombras son elaboradas con aserrín multicolor por los feligreses que han llegado a dominar la técnica para rendir un tributo al sufrimiento de Jesús durante la procesión del Santo Vía Crucis el Viernes Santo. Pasar la Semana Santa en Comayagua es tener un reencuentro con la fe, dentro de un casco histórico muy bien preservado. Para recibir al año nuevo se acostumbra dar doce campanadas oficiales.

</div>
</div>


<main>
<div class="container-fluid ">
        <div class="row" id="productosComayagua">
            
        </div>
    </div> 
</main>
