<div class="alert alert-info" role="alert">
 </h1></h1>
<h4 class="alert-heading">Bienvenidos a Roatán</h4>
<a href="">
    <img class="img-fluid" alt="Responsive image" src="/img/city/roatan.jpg">
</a>
<p>Roatán es una de las Islas de la Bahía de Honduras en el Caribe. Forma parte del enorme Sistema Arrecifal Mesoamericano y es conocida por las playas, los sitios de buceo y la fauna marina, incluido el tiburón ballena. En el suroeste está la concurrida playa de West Bay, con un arrecife de coral cerca de la costa. Los cruceros atracan en la capital de Coxen Hole y en la cercana Mahogany Bay. Al este, hay asentamientos más pequeños, incluida la aldea garífuna de Punta Gorda.</p>
<hr>
<p class="mb-0">El parque Gumbalimba es perfecto para toda la familia. Gumbalimba ofrece un museo, un puente colgante, Guacamayos voladores libres, monos de cara blanca de itinerancia libre, un curso completo de tirolesa, acceso a la playa, una piscina y un valiente jardín botánico. No puedes equivocarte con esta excursión. </p>
</div>

<p>
<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
    aria-controls="collapseExample">
    Conoce un poco más
</a>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
    aria-expanded="false" aria-controls="collapseExample">
    ¿Sabías Qué?
</button>
</button>
</p>

<div class="collapse" id="collapseExample">
<div class="card card-body">
   Roatán ahora ofrece una variedad de alquileres vacacionales, deportes acuáticos y excursiones en tierra para satisfacer incluso al turista más transitado. La conclusión es la siguiente: Es fácil moverse por nuestra isla, la gente es amable y centrada en el cliente, el buceo es de clase mundial, y ofrece excelentes actividades en tierra y playa para entretener incluso a los críticos más duros.

</div>
</div>


<main>
<div class="container-fluid ">
        <div class="row" id="productosRoatan">
            
        </div>
    </div> 
</main>
