
<div class="alert alert-info" role="alert">
<h4 class="alert-heading">Bienvenidos a Amapala!</h4>
<a href="">
    <img class="img-fluid" alt="Responsive image" src="/img/city/Amapala.png">
</a>
<p>Playas de arena volcánica, sosiego, calor de su tierra, gastronomía marina y vistas impresionantes desde lo alto de su mayor elevación hacen de la Isla del Tigre, un cofre de tesoros abiertos al turismo nacional y extranjero.

    Cuenta con un archipiélago formado por 30 islas, islotes y formaciones rocosas que desde cualquier ángulo ofrecen una impresionante vista de los atardeceres. Es accesible en pangas que se abordan en el sector de Coyolito.</p>
<hr>
<p class="mb-0">La isla del Pacífico hondureño posee una superficie de 75,2 km², con un poco más de 10 mil habitantes y pese a que carece de infraestructura moderna, es uno de los destinos turísticos preferidos del Golfo de Fonseca.</p>
</div>

<p>
<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
    aria-controls="collapseExample">
    Conoce un poco más
</a>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
    aria-expanded="false" aria-controls="collapseExample">
    ¿Sabías Qué?
</button>
</p>

<div class="collapse" id="collapseExample">
<div class="card card-body">
    Enclavada en el Golfo de Fonseca, el puerto de Amapala en la Isla de El Tigre, pertenece al departamento de Valle y fue descubierta en 1522 por Andrés Niño, piloto del conquistador español Gil González Dávila en su búsqueda de una ruta marítima entre el océano Atlántico y el Pacífico.

</div>
</div>


<main>
<div class="container-fluid ">
        <div class="row" id="productosAmapala">
            
            <!-- <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
                <div class="card tarjeta">
                    <img class="card-img-top" src="img/img3.jpg" alt="">
                    <div class="card-body contenido ">$20
                        <h5 class="card-title">Artesania</h5>
                        <p class="card-text">Artesania Honduras</p>
                        <p class="card-text">Ciudad: Tegucigalpa</p>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <div class="price botones">
                            <button>Comprar</button>
                            <button class="btn cart-btn">Agregar</button>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div> 
</main>


