

<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">¡Bienvenidos a Puerto Cortes!</h4>
    <a href="">
        <img class="img-fluid" alt="Responsive image" src="/img/city/Puerto Cortes.jpg">
    </a>
    <p>Puerto Cortés, originalmente Puerto Caballos​ es una ciudad y principal
        puerto situado en el norte del departamento de Cortés, en la costa
        Caribe de la república de Honduras, y contiguo con la Laguna de Alvarado.
    </p>
    <hr>
    <p class="mb-0"></p>
</div>

<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Conoce un poco más
    </a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        ¿Sabías Qué?
    </button>
</p>

<div class="collapse" id="collapseExample">
    <div class="card card-body">
       Puerto Cortés fue fundado 1524 por el capitán Gil González Dávila, bajo 

       el nombre de Villa de la Natividad de Nuestra Señora, en la zona que hoy se conoce como "Cienaguita". 
    </div>
</div>


<main>
<div class="container-fluid ">
        <div class="row" id="productosPuertoCortes">
            
        </div>
    </div> 
</main>


    



