

<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">¡Bienvenidos a San Pedro Sula!</h4>
    <a href="">
        <img class="img-fluid" alt="Responsive image" src="/img/city/San Pedro Sula.jpg">
    </a>
    <p>San Pedro Sula es una ciudad del Valle de Sula, en el norte de Honduras.
        Es conocida por ser uno de los principales centros de transporte del país.
        San Pedro Sula tiene exhibiciones sobre la historia de la región, desde la época precolombina hasta el presente.
        con senderos a través del bosque nuboso rico en fauna, incluidas muchas especies de murciélagos y el poco común quetzal.</p>
    <hr>
    <p class="mb-0"></p>
</div>

<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Conoce un poco más
    </a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        ¿Sabías Qué?
    </button>
</p>

<div class="collapse" id="collapseExample">
    <div class="card card-body">
       San Pedro Sula fue fundada el 27 de junio de 1536, bajo el nombre de San Pedro de Puerto Caballos por el conquistador español Pedro de Alvarado.

       Inicialmente, la villa se estableció en el pueblo indígena de Choloma, al norte de la actual ciudad y muy próxima a Puerto Cortés. 
    </div>
</div>


<main>
<div class="container-fluid ">
        <div class="row" id="productosSanPedroSula">
            
        </div>
    </div> 
</main>


    



