

<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">¡Bienvenidos a Tegucigalpa!</h4>
    <a href="">
        <img class="img-fluid" alt="Responsive image" src="/img/city/Tegucigalpa.jpg">
    </a>
    <p>En primer lugar, queremos hablar de Tegucigalpa y Comayagüela, que forman el Distrito Central, es decir, la
        capital de Honduras. La mayoría de las sedes de los poderes de gobierno se encuentra en el lado de Tegucigalpa.
        Eso sí, debes saber que coloquialmente se consideran dos ciudades.</p>
    <hr>
    <p class="mb-0">El primer alcalde de Tegucigalpa, Juan de la Cueva, nunca se imaginó que aquella encantadora y pintoresca ciudad, se convertiría años más tarde en la zona más importante de Honduras, funcionando las principales oficinas del Estado y sector privado.</p>
</div>

<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Conoce un poco más
    </a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        ¿Sabías Qué?
    </button>
</p>

<div class="collapse" id="collapseExample">
    <div class="card card-body">
       Fue fundada el 29 de septiembre de de 1578 y se convirtió en la capital del país el 30 de octubre de 1880 bajo el gobierno del presidente Doctor Marco Aurelio Soto. Tegucigalpa es la ciudad más grande y poblada de Honduras, así como centro político y administrativo de la nación.

    </div>
</div>


<main>
    <div class="container-fluid ">
			<div class="row" id="productosTegu">
				
				<!-- <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
					<div class="card tarjeta">
						<img class="card-img-top" src="img/img3.jpg" alt="">
						<div class="card-body contenido ">$20
							<h5 class="card-title">Artesania</h5>
							<p class="card-text">Artesania Honduras</p>
							<p class="card-text">Ciudad: Tegucigalpa</p>
							<i class="fas fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
							<div class="price botones">
								<button>Comprar</button>
								<button class="btn cart-btn">Agregar</button>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div> 
</main>


    



