<div class="alert alert-info" role="alert">
 </h1></h1>
<h4 class="alert-heading">Bienvenidos a Tela</h4>
<a href="">
    <img class="img-fluid" alt="Responsive image" src="/img/city/tela.jpg">
</a>
<p>Tela es una ciudad en la costa caribeña de Honduras. Es un acceso al amplio Jardín Botánico Lancetilla, en el sur, que alberga una amplia variedad de aves y un arboreto con un túnel de bambú. Al oeste, el Parque Nacional Jeanette Kawas tiene diversos hábitats, desde lagunas costeras como Los Micos hasta playas y selva, además del tradicional pueblo de Miami. En los canales de manglares del Parque Nacional Punta Izopo hay una comunidad de monos aulladores.</p>
<hr>
<p class="mb-0">Tela es un municipio del departamento de Atlántida, tiene una población de 87.643 habitantes. Tela fue fundada el 3 de mayo de 1524
Tela se convirtió en municipio el primero de junio de 1876
Tela se convirtió como ciudad el primero de marzo de 1927
Tela abarca un área de 1.163,3 kilómetros cuadrados
El Patrón de Tela es San Antonio de Padua y su patrona es La Virgen de Suyapa. </p>
</div>

<p>
<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
    aria-controls="collapseExample">
    Conoce un poco más
</a>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
    aria-expanded="false" aria-controls="collapseExample">
    ¿Sabías Qué?
</button>
</p>

<div class="collapse" id="collapseExample">
<div class="card card-body">
   Tela es un pequeño puerto que pertenece al departamento de  Atlantida en el país Hondureño. Tela es muy bonito lo cual hace este  puerto muy popular que durante el verano sus playas siempre están  llenas especialmente durante la Semana Santa. Lo mas importante de Tela es que la carretera principal pasa por allí y esto lo hace ser mas conocido por muchas personas que viajan a otras áreas del país.

</div>
</div>


<main>
<div class="container-fluid ">
        <div class="row" id="productosTela">
            
        </div>
    </div> 
</main>
