

<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">¡Bienvenidos a Danlí!</h4>
    <a href="">
        <img class="img-fluid" alt="Responsive image" src="/img/city/Danli.jpg">
    </a>
    <p>Danlí es una ciudad y municipio del departamento de El Paraíso, 
        Honduras.Danli es la ciudad más grande e importante de el departamento
        de el paraíso. Es considerada la ciudad de "las colinas y de la cultura".
    </p>
    <hr>
    <p class="mb-0"></p>
</div>

<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Conoce un poco más
    </a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        ¿Sabías Qué?
    </button>
</p>

<div class="collapse" id="collapseExample">
    <div class="card card-body">
       Danlí fue fundada entre los años 1676 y 1678,2​ los hermanos Pedro y Alonso Ortiz de Fúnez,

       quedaron de herederos por muerte de su padre, de una estancia poblada en tierras "sueltas" (sin dueño), llamada Danlí. 
    </div>
</div>


<main>
<div class="container-fluid ">
        <div class="row" id="productosDanli">
            
        </div>
    </div> 
</main>


    



