@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2? family = Roboto & display = swap'); 
/* 
body {

	font-family: Arial, sans-serif;
} */

/* a {
	text-decoration: none;
} */

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */
/* ::selection{
  color: #fff;
  background: #ff7979;
} */
/* body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #ff7979;
  padding: 0 20px;
} */

.bg-secondary{
  background-color: #090e13!important;
}

.img-alinear {
  height: 250px;
  width: 340px;
  object-fit: cover;
}

.envoltura {
  /* position: relative; */
  /* max-width: 1130px; */
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.envoltura .nav-cart {
  position: absolute;
  right: 0;
  top: -35%;
  width: 130px;
  background: #fff;
  padding: 13px 15px;
  border-radius: 3px;
  display: flex;
  cursor: pointer;
  justify-content: space-evenly;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.15);
}

.nav-cart .icono {
  color: #ff7979;
}

.nav-cart .icono i {
  font-size: 20px;
}

.nav-cart .icono span {
  font-weight: 500;
}

.nav-cart .count-item {
  font-size: 15px;
  height: 23px;
  width: 23px;
  color: #ff7979;
  background: #ffcccc;
  text-align: center;
  line-height: 22px;
  border: 1px solid #ffb3b3;
  border-radius: 50%;
}

.envoltura .tarjeta {
  position: relative;
  background: #fff;
  border-radius: 3px;
  width: calc(33% - 13px);
  overflow: hidden;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.envoltura .tarjeta img {
  width: 100%;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.tarjeta:hover img {
  transform: scale(1.1);
}

.envoltura .tarjeta .contenido {
  position: absolute;
  width: 100%;
  bottom: -50%;
  background: #fff;
  padding: 10px 20px 22px 20px;
  box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.envoltura .tarjeta:hover .contenido {
  bottom: 0;
}

.tarjeta .contenido .fila,
.contenido .botones {
  display: flex;
  justify-content: space-between;
}

.contenido .fila .details span {
  font-size: 22px;
  font-weight: 500;
}

.contenido .fila .details p {
  color: #333;
  font-size: 17px;
  font-weight: 400;
}

.contenido .fila .price {
  color: #ff7979;
  font-size: 25px;
  font-weight: 600;
}

.contenido .botones {
  margin-top: 20px;
}

.contenido .botones button {
  width: 100%;
  padding: 9px 0;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  border-radius: 3px;
  border: 2px solid #ff7979;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.botones button:first-child {
  color: #ff7979;
  margin-right: 10px;
  background: #fff;
}

button:first-child:hover {
  color: #fff;
  background: #ff7979;
}

.botones button:last-child {
  color: #fff;
  margin-left: 10px;
  background: #ff7979;
}

button:last-child:hover {
  background: #ff6666;
  border-color: #ff6666;
}

@media (max-width: 575.98px) {
  .img-alinear {
    width:100%;
    max-width:400px;
    object-fit: cover;
  }
}

@media (max-width: 1200px) {
  .img-alinear {
    width:100%;
    max-width:500px;
    object-fit: cover;
  }
}

/* @media only screen and (max-width: 360px) {}

@media only screen and (max-width: 411px) {}

@media only screen and (max-width: 320px) {

  .img-alinear {
    height: 250px;
    width: 190px;
    object-fit: cover;
  }
}


@media only screen and (max-width: 375px) {

  .img-alinear {
    height: 250px;
    width: 250px;
    object-fit: cover;

  }
}

@media only screen and (max-width: 414px) {

  .img-alinear {
    height: 250px;
    width: 285px;
    object-fit: cover;

  }
} */