
  <!-- Footer -->
<footer  class="page-footer font-small mdb-color pt-4 bg-dark">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">504Venir</h6>
        <p>Bienvenidos a 504Venir donde podras comprar tus recuerdos en cada visita de cada ciudad.</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Ciudades</h6>
        <p>
          <a href="/cityTegu">Tegucigalpa</a>
        </p>
        <p>
          <a href="#!">San Pedro Sula</a>
        </p>
        <p>
          <a href="#!">Roatan</a>
        </p>
        <p>
          <a href="#!">Copan</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Productos</h6>
        <p>
          <a href="/users/signup">Registrate</a>
        </p>
        <p>
          <a href="/users/signin">Iniciar Session</a>
        </p>
        <p>
          <a href="#!">Lo Mas Buscado</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
        <p>
          <i class="fas fa-home mr-3"></i> Francisco Morazan, Tegucigalpa 2020, HN</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> 504venir@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 504 9999-9999</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 504 2222-2222</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2020 Copyright:
          <a href="/">
            <strong>504SouVenir</strong>
          </a>
          <a href="/users/userAdmin">
            <br><strong>   Administrar</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-google-plus-g"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
