<nav class="menu" id="menu">

    <div class="contenedor contenedor-botones-menu">
        <button id="btn-menu-barras" class="btn-menu-barras"><i class="fas fa-bars"></i></button>
        <button id="btn-menu-cerrar" class="btn-menu-cerrar"><i class="fas fa-times"></i></button>
    </div>

    


    <div class="contenedor contenedor-enlaces-nav">
        <div class="btn-departamentos" id="btn-departamentos">
            <p>Toda Las <span>Ciudades<span></p>
            <i class="fas fa-caret-down"></i>
        </div>
        <a style="color: rgb(53, 41, 26);" href="/"><i style="color: rgb(255, 145, 0);"
                class="fab fa-pagelines"></i><img  src="/img/logo1.png" alt="logo1"><i class="fab fa-raspberry-pi"></i>
            <div class="enlaces">
                <!-- <a href="/"><i class="fab fa-pagelines"></i>504Venir<i class="fab fa-raspberry-pi"></i> -->


                <a style="color: rgb(242, 246, 246);" href="/about">Conocenos</a>


                <a style="color: rgb(242, 246, 246);" href="/orders">Ver Ordenes</a>
               
           
            
                {{!-- <a style="color: rgb(242, 246, 246);" href="/users/signin">Iniciar Session</a>
                <a style="color: rgb(242, 246, 246);" href="/users/signup">Registrate</a> --}}
                 
            </div> 

            <!-- <div class="nav-cart">
				<div class="icono">
					<a class="" href="#">
						<i style="color: rgb(255, 145, 0);" class="fas fa-shopping-cart"></i>
						<span style="color: rgb(246, 255, 254);">Cart</span>
					</a><i class="count-item">0</i>
				</div> -->
 {{#if user}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: rgb(246, 255, 254);">
                    Productos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item " href="/notes">Ver todo los productos</a>
                    <a class="dropdown-item " href="/notes/add">Agregar Producto</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/users/logout">Cerrrar Session</a>
                </div>
            </li>
             {{else}}
             <a style="color: rgb(242, 246, 246);" href="/users/signin">Iniciar Session</a>
                <a style="color: rgb(242, 246, 246);" href="/users/signup">Registrate</a>
            {{/if}}

            <div class="nav-cart">
                <div class="icono">
                    <a class="" href="/orders">
                        <i style="color: rgb(255, 145, 0);" class="fas fa-shopping-cart"></i>
                        <span style="color: rgb(246, 255, 254);">Cart</span>
                    </a><i class="count-item">0</i>
                </div>
            </div>

            
    </div>
  




    <div class="contenedor contenedor-grid">
        <div class="grid" id="grid">
            <div class="categorias">
                <button class="btn-regresar"><i class="fas fa-arrow-left"></i> Regresar</button>
                <h3 class="subtitulo">Categorias</h3>

                <a href="/cityTegu" data-categoria="tegucigalpa">Tegucigalpa <i class="fas fa-angle-right"></i></a>
                <a href="#" data-categoria="san-pedro-sula">San Pedro Sula <i class="fas fa-angle-right"></i></a>
                <a href="/cityCeiba" data-categoria="la-ceiba">La Ceiba <i class="fas fa-angle-right"></i></a>
                <a href="#" data-categoria="puerto-cortes">Puerto Cortes <i class="fas fa-angle-right"></i></a>
                <a href="#" data-categoria="comayagua">Comayagua <i class="fas fa-angle-right"></i></a>
                <a href="#" data-categoria="danli">Danli <i class="fas fa-angle-right"></i></a>
                <a href="#" data-categoria="tela">Tela <i class="fas fa-angle-right"></i></a>
                <a href="/cityOmoa" data-categoria="omoa">Omoa <i class="fas fa-angle-right"></i></a>
                <a href="/cityAmapala" data-categoria="amapala">Amapala <i class="fas fa-angle-right"></i></a>
                <a href="#" data-categoria="roatan">Roatan <i class="fas fa-angle-right"></i></a>
            </div>

            <div class="contenedor-subcategorias">
                <div class="subcategoria " data-categoria="tegucigalpa">
                    <div class="enlaces-subcategoria">
                        <button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
                        <h3 class="subtitulo">Tegucigalpa</h3>
                        <a href="#">Artesania</a>
                        <a href="#">Joyeria</a>
                        <a href="#">carteras</a>
                        <a href="#">zapatos</a>
                        <a href="#">llaveros</a>
                    </div>

                    <div class="banner-subcategoria">
                        <a href="#">
                            <img src="./img/img/img3.jpg" alt="">
                        </a>
                    </div>

                    <div class="galeria-subcategoria">
                        <a href="#">
                            <img src="./img/img/img26.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img35.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img33.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img28.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="subcategoria" data-categoria="san-pedro-sula">
                    <div class="enlaces-subcategoria">
                        <button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
                        <h3 class="subtitulo">San Pedro Sula</h3>
                        <a href="#">Artesania</a>
                        <a href="#">Joyeria</a>
                        <a href="#">carteras</a>
                        <a href="#">zapatos</a>
                        <a href="#">llaveros</a>
                    </div>

                    <div class="banner-subcategoria">
                        <a href="#">
                            <img src="./img/img/img18.jpg" alt="">
                        </a>
                    </div>

                    <div class="galeria-subcategoria">
                        <a href="#">
                            <img src="./img/img/img2.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img13.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img31.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img25.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="subcategoria" data-categoria="la-ceiba">
                    <div class="enlaces-subcategoria">
                        <button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
                        <h3 class="subtitulo">La Ceiba</h3>
                        <a href="#">Artesania</a>
                        <a href="#">Joyeria</a>
                        <a href="#">carteras</a>
                        <a href="#">zapatos</a>
                        <a href="#">llaveros</a>

                    </div>

                    <div class="banner-subcategoria">
                        <a href="#">
                            <img src="./img/img/img10.jpg" alt="">
                        </a>
                    </div>

                    <div class="galeria-subcategoria">
                        <a href="#">
                            <img src="./img/img/img11.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img21.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img23.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img24.png" alt="">
                        </a>
                    </div>
                </div>

                <div class="subcategoria" data-categoria="puerto-cortes">
                    <div class="enlaces-subcategoria">
                        <button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
                        <h3 class="subtitulo">Puerto Cortes</h3>
                        <a href="#">Artesania</a>
                        <a href="#">Joyeria</a>
                        <a href="#">carteras</a>
                        <a href="#">zapatos</a>
                        <a href="#">llaveros</a>
                    </div>

                    <div class="banner-subcategoria">
                        <a href="#">
                            <img src="./img/img/img27.jpg" alt="">
                        </a>
                    </div>

                    <div class="galeria-subcategoria">
                        <a href="#">
                            <img src="./img/img/img28.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img29.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img30.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img31.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="subcategoria" data-categoria="comayagua">
                    <div class="enlaces-subcategoria">
                        <button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
                        <h3 class="subtitulo">Comayagua</h3>
                        <a href="#">Artesania</a>
                        <a href="#">Joyeria</a>
                        <a href="#">carteras</a>
                        <a href="#">zapatos</a>
                        <a href="#">llaveros</a>
                    </div>

                    <div class="banner-subcategoria">
                        <a href="#">
                            <img src="./img/img/img33.jpg" alt="">
                        </a>
                    </div>

                    <div class="galeria-subcategoria">
                        <a href="#">
                            <img src="./img/img/img34.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img35.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img19.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img15.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="subcategoria" data-categoria="danli">
                    <div class="enlaces-subcategoria">
                        <button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
                        <h3 class="subtitulo">Danli</h3>
                        <a href="#">Artesania</a>
                        <a href="#">Joyeria</a>
                        <a href="#">carteras</a>
                        <a href="#">zapatos</a>
                        <a href="#">llaveros</a>
                    </div>

                    <div class="banner-subcategoria">
                        <a href="#">
                            <img src="./img/img/img7.jpg" alt="">
                        </a>
                    </div>

                    <div class="galeria-subcategoria">
                        <a href="#">
                            <img src="./img/img/img8.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img9.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img10.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img11.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="subcategoria" data-categoria="tela">
                    <div class="enlaces-subcategoria">
                        <button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
                        <h3 class="subtitulo">Tela</h3>
                        <a href="#">Artesania</a>
                        <a href="#">Joyeria</a>
                        <a href="#">carteras</a>
                        <a href="#">zapatos</a>
                        <a href="#">llaveros</a>
                    </div>

                    <div class="banner-subcategoria">
                        <a href="#">
                            <img src="./img/img/img5.jpg" alt="">
                        </a>
                    </div>

                    <div class="galeria-subcategoria">
                        <a href="#">
                            <img src="./img/img/img6.JPG" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img7.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img8.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img9.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="subcategoria" data-categoria="omoa">
                    <div class="enlaces-subcategoria">
                        <button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
                        <h3 class="subtitulo">Omoa</h3>
                        <a href="#">Artesania</a>
                        <a href="#">Joyeria</a>
                        <a href="#">carteras</a>
                        <a href="#">zapatos</a>
                        <a href="#">llaveros</a>
                    </div>

                    <div class="banner-subcategoria">
                        <a href="#">
                            <img src="./img/img/imgOmoa/img1.png" alt="">
                        </a>
                    </div>

                    <div class="galeria-subcategoria">
                        <a href="#">
                            <img src="./img/img/img2.JPG" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img7.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img8.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img9.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="subcategoria" data-categoria="amapala">
                    <div class="enlaces-subcategoria">
                        <button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
                        <h3 class="subtitulo">Amapala</h3>
                        <a href="#">Artesania</a>
                        <a href="#">Joyeria</a>
                        <a href="#">carteras</a>
                        <a href="#">zapatos</a>
                        <a href="#">llaveros</a>
                    </div>

                    <div class="banner-subcategoria">
                        <a href="#">
                            <img src="./img/img/img21.jpg" alt="">
                        </a>
                    </div>

                    <div class="galeria-subcategoria">
                        <a href="#">
                            <img src="./img/img/img6.JPG" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img7.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img8.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img9.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="subcategoria" data-categoria="roatan">
                    <div class="enlaces-subcategoria">
                        <button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
                        <h3 class="subtitulo">Roatan</h3>
                        <a href="#">Artesania</a>
                        <a href="#">Joyeria</a>
                        <a href="#">carteras</a>
                        <a href="#">zapatos</a>
                        <a href="#">llaveros</a>
                    </div>

                    <div class="banner-subcategoria">
                        <a href="#">
                            <img src="./img/img/img26.jpg" alt="">
                        </a>
                    </div>

                    <div class="galeria-subcategoria">
                        <a href="#">
                            <img src="./img/img/img6.JPG" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img7.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img8.jpg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/img/img9.jpg" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</nav>
{{!-- <div class="nav-cart text-right">
        <div class="icono">
            <a class="" href="/orders">
                <i style="color: rgb(255, 145, 0);" class="fas fa-shopping-cart"></i>
                <span style="color: rgb(182, 159, 32);">Cart</span>
            </a><i class="count-item">0</i>
        </div>
    </div> --}}

{{!-- <main class="contenedor col-xs-12 col-sm-6 col-md-6 col-lg-3">

		 <div class="container-fluid ">
			<div class="row" id="productos">
				
				<!-- <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
					<div class="card tarjeta">
						<img class="card-img-top" src="img/img3.jpg" alt="">
						<div class="card-body contenido ">$20
							<h5 class="card-title">Artesania</h5>
							<p class="card-text">Artesania Honduras</p>
							<p class="card-text">Ciudad: Tegucigalpa</p>
							<i class="fas fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
							<div class="price botones">
								<button>Comprar</button>
								<button class="btn cart-btn">Agregar</button>
							</div>
						</div>
					</div>
				</div> -->
				

			</div>
		</div> 

		



		
		

		<!-- <div class="envoltura">
			<div class="envoltura tarjeta">
				<img src="img/img32.jpg" alt="">
				<div class="contenido">
					<div class=""">
						<div class="details">
							<span>Artesania</span>
							<p>Artesania Honduras</p>
						</div>
						<div class="price">$20</div>
					</div>
					<div class="botones">
						<button>Comprar</button>
						<button class="cart-btn">Agregar</button>
					</div>
				</div>
			</div> 
	 -->

	</main> --}}