<style>
    /* Comentarios CSS*/

    body {
        background-image: url(/img/portadasOP/login5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        margin: 0;

    }
</style>

<main loading="lazy" role="main" class="container-fliud">
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img loading="lazy" style="color: #4AB8AF" src="/img/logo2.png" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form action="/cart/cart" method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="email" name="email" class="form-control input_user" placeholder="email">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password" class="form-control input_pass"
                                placeholder="Contraseña">
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                <label style="color: #F8FBE6" class="custom-control-label"
                                    for="customControlInline">Recordar</label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button class="btn login_btn">Acceder</button>
                        </div>
                    </form>
                </div>

                <div class="mt-4">
                    <div style="color: #F8FBE6" class="d-flex justify-content-center links">
                        No tengo una cuenta? <a href="/users/signup" class="ml-2">Regístrate</a>
                    </div>
                    <div class="d-flex justify-content-center links">
                        <a href="/users/recuperar">Olvidaste tu contraseña?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>