<div class="Container">
    <div class="car">
        <div class="card-body">
            <a href="/notes/status">
                <h1>Pago con exito </h1>
            </a>
            <span>Se han enviado los detalles de la compra a su correo</span>
        </div>
    </div>
</div>