<h1>Hola Sofía</h1>

<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Bienvenidos a Tegucigalpa!</h4>
    <a href="">
        <img class="img-fluid" alt="Responsive image" src="/img/city/tegucigalpa.jpg">
    </a>
    <p>En primer lugar, queremos hablar de Tegucigalpa y Comayagüela, que forman el Distrito Central, es decir, la
        capital de Honduras. La mayoría de las sedes de los poderes de gobierno se encuentra en el lado de Tegucigalpa.
        Eso sí, debes saber que coloquialmente se consideran dos ciudades.</p>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>

<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Link with href
    </a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        Button with data-target
    </button>
</p>

<div class="collapse" id="collapseExample">
    <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
</div>

<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="card">
                <img src="../img/producto1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">produc1</h5>
                    <p class="card-text">Vendedor2</p>
                    <div>
                        <i class="fas fa-star"></i>
                        <button class="btn btn-outline-danger btn-sm " style="float:right" onclick=""><i class="fas fa-trash-alt"></i></button>
                    </div>
                </div>
            </div>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Link with href
    </a>
        </div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="card">
                <img src="../img/producto1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">produc1</h5>
                    <p class="card-text">Vendedor2</p>
                    <div>
                        <i class="fas fa-star"></i>
                        <button class="btn btn-outline-danger btn-sm " style="float:right" onclick=""><i class="fas fa-trash-alt"></i></button>
                    </div>
                </div>
            </div>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Link with href
    </a>
        </div>


<div class="col-xl-2">
    <div class="card">
        <img src="../img/producto1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Producto2<h5>
            <p class="card-text">Vendedor2: <p>
            <div>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        <div>
    <div>
<div>


    



